<div id="navigationBar" class="row">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#opciones" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="opciones">
            <ul class="nav navbar-nav">
              <li class="active btn-success"><a href="#">Home <span class="sr-only">(current)</span></a></li>
              <li ><a href="#">Sign up</a></li>
              <li><a href="#">Raters</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Actors</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Browse Ratings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Advanced Search</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Movie">
              </div>
              <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div><!-- /.navbar-collapsable -->
    </div><!-- /.container-fluid -->
  </nav>
</div> <!--navigation bar-->